<%- include parts/html.ejs %>
<head>
    <%- include parts/ga.ejs %>
    <%- include parts/meta_tags.ejs %>
    <%- include parts/css_links.ejs %>

    <script>window['start-time'] = new Date().getTime();</script>
    <title>موتور جستجوی سایتهای رزرو هتل | جوتریپ</title>
    <meta name="description" content="جوتریپ یک موتور جستجو هست که برای شما ارزانترین هتل را در بین سایتهای رزرواسیون هتل پیدا میکند.">
</head>

<body dir="rtl" id="category-hotels" class="lang-en page-hotelsesi action-hotelsindex   default-layout scaffold-font-size   spring-clean month-view-spring-clean ">
    <div id="position-fixer"></div>
    <%- include parts/noscript.ejs %>
    <div id="pagewrap" class="clearfix">

        <%- include parts/navbar.ejs %>

            <main class="wrap content">
                <article class="article">
                    <header class="single-post__header">
                    </header>

                    <img src="/images/logo/jootrip.jpg" alt="jootrip">
                    <figure class="wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube">
                        <!-- <div class="jetpack-video-wrapper">
                                    <iframe src="https://www.youtube.com/" frameborder="0" allow="autoplay; encrypted-media"
                                        allowfullscreen="" data-ratio="0.5629770992366412" data-width="1048" data-height="590"
                                        style="display: block; margin: 0px; width: 1000px; height: 562.977px;"></iframe>
                                </div> -->
                    </figure>

                    <p>جوتریپ جایی هست که شما می‌توانید در آن مناسب‌ترین هتل با ارزان‌ترین قیمت را در بین سایت‌های رزرواسیون
                        هتل پیدا کنید. در واقع با افزایش تعداد سایت‌های رزرواسیون هتل در ایران کاربران ایرانی نیاز به سرویس
                        جدیدی هم برای شناختن سایت‌های رزرواسیون معتبر و جدید و هم برای یافتن بهترین قیمت برای هتل مورد نظرشان
                        پیدا کرده اند. جوتریپ با هدف معرفی هتل‌های موجود در ایران و سایت های رزرواسیون با ارائه‌ی شفاف قیمت‌ها
                        به کاربران از سال 1397 تاسیس شده است.</p>
                    <br>
                    <br>
                    <br>
                    <br>
                </article>
            </main>

    </div>
    <%- include parts/footer.ejs %>
    <%- include parts/legal_info.ejs %>
</body>

</html>