<%- include parts/html.ejs %>
<head>
    <%- include parts/ga.ejs %>
    <%- include parts/meta_tags.ejs %>
    <%- include parts/css_links.ejs %>

    <script>window['start-time'] = new Date().getTime();</script>
    <title>پیشنهاد مناسب ترین و ارزان ترین هتل در همه شهرهای ایران | جوتریپ </title>
    <meta name="description" content="جوتریپ یک موتور جستجو هست که برای شما ارزانترین هتل را در بین سایتهای رزرواسیون هتل پیدا میکند.">
</head>

<body dir="rtl" id="category-hotels" class="lang-en page-hotelsesi action-hotelsindex   default-layout scaffold-font-size   spring-clean month-view-spring-clean ">
    <div id="position-fixer"></div>
    <%- include parts/noscript.ejs %>
    <div id="pagewrap" class="clearfix">

        <%- include parts/navbar.ejs %>

            <div id="hotel--wrap" class="wrap clearfix">

                <div id="search-form-wrapper" class="hotel-search-form-wrapper springClean has_header show" style="background-image:url('/images/background/testpic (17).jpg');background-position:center;background-size:cover">
                    <%- include parts/search-form.ejs %>
                </div>

                <div id="destination-wrapper" class="destinations_wrapper">
                    <div id="destination" class="destinations">
                        <ul class="clearfix">
                            <li class="destination city" id="destination_">
                                <a href="/hotels?q=تبریز&city=تبریز" data-q="تبریز">
                                    <div class="destination_thumb" style="background-image:url('/images/cities/tabriz-1.jpg')" title="رزرو هتل تبریز - لیست هتل های شهر تبریز"></div>
                                    <div class="destination_cta" data-icon="forwardBlue after">
                                        <h4>جستجوی هتل های تبریز</h4>
                                    </div>
                                </a>
                            </li>
                            <li class="destination city" id="destination_">
                                <a href="/hotels?q=تهران&city=تهران" data-q="تهران">
                                    <div class="destination_thumb" style="background-image:url('/images/cities/tehran-1.jpg')" title="رزرو هتل تهران - لیست هتل های شهر تهران"></div>
                                    <div class="destination_cta" data-icon="forwardBlue after">
                                        <h4>جستجوی هتل های تهران</h4>
                                    </div>
                                </a>
                            </li>
                            <li class="destination city" id="destination_">
                                <a href="/hotels?q=اصفهان&city=اصفهان" data-q="اصفهان">
                                    <div class="destination_thumb" style="background-image:url('/images/cities/esfahan-1.jpg')" title="رزرو هتل اصفهان - لیست هتل های شهر اصفهان"></div>
                                    <div class="destination_cta" data-icon="forwardBlue after">
                                        <h4>جستجوی هتل های اصفهان</h4>
                                    </div>
                                </a>
                            </li>
                            <li class="destination city" id="destination_">
                                <a href="/hotels?q=شیراز&city=شیراز" data-q="شیراز">
                                    <div class="destination_thumb" style="background-image:url('/images/cities/shiraz-1.jpg')" title="رزرو هتل شیراز - لیست هتل های شهر شیراز"></div>
                                    <div class="destination_cta" data-icon="forwardBlue after">
                                        <h4>جستجوی هتل های شیراز</h4>
                                    </div>
                                </a>
                            </li>
                            <li class="destination city" id="destination_">
                                <a href="/hotels?q=مشهد&city=مشهد" data-q="مشهد">
                                    <div class="destination_thumb" style="background-image:url('/images/cities/mashhad-1.jpg')" title="رزرو هتل مشهد - لیست هتل های شهر مشهد"></div>
                                    <div class="destination_cta" data-icon="forwardBlue after">
                                        <h4>جستجوی هتل های مشهد</h4>
                                    </div>
                                </a>
                            </li>
                            <li class="destination city" id="destination_">
                                <a href="/hotels?q=یزد&city=یزد" data-q="یزد">
                                    <div class="destination_thumb" style="background-image:url('/images/cities/yazd-1.jpg')" title="رزرو هتل یزد - لیست هتل های شهر یزد"></div>
                                    <div class="destination_cta" data-icon="forwardBlue after">
                                        <h4>جستجوی هتل های یزد</h4>
                                    </div>
                                </a>
                            </li>
                            <li class="destination city" id="destination_">
                                <a href="/hotels?q=کیش&city=کیش" data-q="کیش">
                                    <div class="destination_thumb" style="background-image:url('/images/cities/kish-1.jpg')" title="رزرو هتل کیش - لیست هتل های شهر کیش"></div>
                                    <div class="destination_cta" data-icon="forwardBlue after">
                                        <h4>جستجوی هتل های کیش</h4>
                                    </div>
                                </a>
                            </li>
                            <li class="destination city" id="destination_">
                                <a href="/hotels?q=قشم&city=قشم" data-q="قشم">
                                    <div class="destination_thumb" style="background-image:url('/images/cities/gheshm-1.jpg')" title="رزرو هتل قشم - لیست هتل های شهر قشم"></div>
                                    <div class="destination_cta" data-icon="forwardBlue after">
                                        <h4>جستجوی هتل های قشم</h4>
                                    </div>
                                </a>
                            </li>
                            <li class="destination city" id="destination_">
                                <a href="/hotels?q=قم&city=قم" data-q="قم">
                                    <div class="destination_thumb" style="background-image:url('/images/cities/ghom-1.jpg')" title="رزرو هتل قم - لیست هتل های شهر قم"></div>
                                    <div class="destination_cta" data-icon="forwardBlue after">
                                        <h4>جستجوی هتل های قم</h4>
                                    </div>
                                </a>
                            </li>
                            <li class="destination city" id="destination_">
                                <a href="/hotels?q=همدان&city=همدان" data-q="همدان">
                                    <div class="destination_thumb" style="background-image:url('/images/cities/hamedan-1.jpg')" title="رزرو هتل همدان - لیست هتل های شهر همدان"></div>
                                    <div class="destination_cta" data-icon="forwardBlue after">
                                        <h4>جستجوی هتل های همدان</h4>
                                    </div>
                                </a>
                            </li>
                            <li class="destination city" id="destination_">
                                <a href="/hotels?q=ساری&city=ساری" data-q="ساری">
                                    <div class="destination_thumb" style="background-image:url('/images/cities/sari-1.jpg')" title="رزرو هتل ساری - لیست هتل های شهر ساری"></div>
                                    <div class="destination_cta" data-icon="forwardBlue after">
                                        <h4>جستجوی هتل های ساری</h4>
                                    </div>
                                </a>
                            </li>
                            <li class="destination city" id="destination_">
                                <a href="/hotels?q=ارومیه&city=ارومیه" data-q="ارومیه">
                                    <div class="destination_thumb" style="background-image:url('/images/cities/urum-1.jpg')" title="رزرو هتل ارومیه - لیست هتل های شهر ارومیه"></div>
                                    <div class="destination_cta" data-icon="forwardBlue after">
                                        <h4>جستجوی هتل های ارومیه</h4>
                                    </div>
                                </a>
                            </li>
                            <li class="destination city" id="destination_">
                                <a href="/hotels?q=اردبیل&city=اردبیل" data-q="اردبیل">
                                    <div class="destination_thumb" style="background-image:url('/images/cities/ardabil-1.jpg')" title="رزرو هتل اردبیل - لیست هتل های شهر اردبیل"></div>
                                    <div class="destination_cta" data-icon="forwardBlue after">
                                        <h4>جستجوی هتل های اردبیل</h4>
                                    </div>
                                </a>
                            </li>
                            <li class="destination city" id="destination_">
                                <a href="/hotels?q=زنجان&city=زنجان" data-q="زنجان">
                                    <div class="destination_thumb" style="background-image:url('/images/cities/zanjan-1.jpg')" title="رزرو هتل زنجان - لیست هتل های شهر زنجان"></div>
                                    <div class="destination_cta" data-icon="forwardBlue after">
                                        <h4>جستجوی هتل های زنجان</h4>
                                    </div>
                                </a>
                            </li>
                            <li class="destination city" id="destination_">
                                <a href="/hotels?q=رشت&city=رشت" data-q="رشت">
                                    <div class="destination_thumb" style="background-image:url('/images/cities/rasht-1.jpg')" title="رزرو هتل رشت - لیست هتل های شهر رشت"></div>
                                    <div class="destination_cta" data-icon="forwardBlue after">
                                        <h4>جستجوی هتل های رشت</h4>
                                    </div>
                                </a>
                            </li>
                            <li class="destination city" id="destination_">
                                <a href="/hotels?q=کرمانشاه&city=کرمانشاه" data-q="کرمانشاه">
                                    <div class="destination_thumb" style="background-image:url('/images/cities/kermanshah-1.jpg')" title="رزرو هتل کرمانشاه - لیست هتل های شهر کرمانشاه"></div>
                                    <div class="destination_cta" data-icon="forwardBlue after">
                                        <h4>جستجوی هتل های کرمانشاه</h4>
                                    </div>
                                </a>
                            </li>
                            <li class="destination city" id="destination_">
                                <a href="/hotels?q=بروجرد&city=بروجرد" data-q="بروجرد">
                                    <div class="destination_thumb" style="background-image:url('/images/cities/brujerd-1.jpg')" title="رزرو هتل بروجرد - لیست هتل های شهر بروجرد"></div>
                                    <div class="destination_cta" data-icon="forwardBlue after">
                                        <h4>جستجوی هتل های بروجرد</h4>
                                    </div>
                                </a>
                            </li>
                            <li class="destination city" id="destination_">
                                <a href="/hotels?q=چابهار&city=چابهار" data-q="چابهار">
                                    <div class="destination_thumb" style="background-image:url('/images/cities/chabahar-1.jpg')" title="رزرو هتل چابهار - لیست هتل های شهر چابهار"></div>
                                    <div class="destination_cta" data-icon="forwardBlue after">
                                        <h4>جستجوی هتل های چابهار</h4>
                                    </div>
                                </a>
                            </li>
                            <li class="destination city" id="destination_">
                                <a href="/hotels?q=رامسر&city=رامسر" data-q="رامسر">
                                    <div class="destination_thumb" style="background-image:url('/images/cities/ramsar-1.jpg')" title="رزرو هتل رامسر - لیست هتل های شهر رامسر"></div>
                                    <div class="destination_cta" data-icon="forwardBlue after">
                                        <h4>جستجوی هتل های رامسر</h4>
                                    </div>
                                </a>
                            </li>
                            <li class="destination city" id="destination_">
                                <a href="/hotels?q=چالوس&city=چالوس" data-q="چالوس">
                                    <div class="destination_thumb" style="background-image:url('/images/cities/chaloos-1.jpg')" title="رزرو هتل چالوس - لیست هتل های شهر چالوس"></div>
                                    <div class="destination_cta" data-icon="forwardBlue after">
                                        <h4>جستجوی هتل های چالوس</h4>
                                    </div>
                                </a>
                            </li>
                            <li class="destination city" id="destination_">
                                <a href="/hotels?q=شهرکرد&city=شهرکرد" data-q="شهرکرد">
                                    <div class="destination_thumb" style="background-image:url('/images/cities/shahrkord-1.jpg')" title="رزرو هتل شهرکرد - لیست هتل های شهر شهرکرد"></div>
                                    <div class="destination_cta" data-icon="forwardBlue after">
                                        <h4>جستجوی هتل های شهرکرد</h4>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END  -->
            <!--  body -->
            <%- include parts/footer.ejs %>
            <%- include parts/legal_info.ejs %>

                <div class="autocomplete-suggestions" style="position: absolute; z-index: 999">
                </div>
    </div>

    <% include parts/scripts.ejs%>
    <script src="/javascripts/common.min.js"></script>
    <script src="/javascripts/cities.min.js"></script>
</body>

</html>