<%- include parts/html.ejs %>
<head>
    <%- include parts/ga.ejs %>
    <%- include parts/meta_tags.ejs %>
    <%- include parts/css_links.ejs %>

    <title>تماس با ما | جوتریپ</title>
    <meta name="description" content="جوتریپ یک موتور جستجو هست که برای شما ارزانترین هتل را در بین سایتهای رزرواسیون هتل پیدا میکند.">
</head>

<body dir="rtl" id="category-hotels" class="lang-en page-hotelsesi action-hotelsindex   default-layout scaffold-font-size   spring-clean month-view-spring-clean ">
    <div id="position-fixer"></div>
    <%- include parts/noscript.ejs %>
    <div id="pagewrap" class="clearfix">

        <%- include parts/navbar.ejs %>

            <main class="wrap content article" style="width: 1048px">
                <article class="article">
                    <header class="single-post__header">
                    </header>
                    <img src="/images/logo/jootrip.jpg" alt="جوتریپ">

                    <p>اگر شما یک سایت رزرواسیون هتل هستید، برای دریافت شرایط همکاری لطفا اطلاعات زیر را به
                        <strong>jootrip.co@gmail.com</strong> ارسال کنید.</p>
                    <p>1. آدرس وب سایت</p>
                    <p>2. شماره تماس و نام یک رابط</p>
                    <p>با سپاس</p>
                    <br>
                    <br>
                    <br>
                    <br>
                </article>
            </main>

    </div>
    <!-- END  -->
    <!--  body -->
    <%- include parts/footer.ejs %>
    <%- include parts/legal_info.ejs %>
</body>

</html>