<%- include parts/html.ejs %>
<head>
    <%- include parts/ga.ejs %>
    <%- include parts/meta_tags.ejs %>
    <%- include parts/css_links.ejs %>

    <title>خطا | جوتریپ</title>
</head>

<body dir="rtl" id="category-hotels" class="lang-en page-hotelsesi action-hotelsindex   default-layout scaffold-font-size   spring-clean month-view-spring-clean ">
    <div id="not-found-root">

        <div class="NotFound">
            <div class="bpk-grid__container-1ZChf NotFound__container">
                <div class="bpk-grid__row-m2JW4">
                    <div class="bpk-grid__column-1-92G bpk-grid__column--12-3dJQz">
                        <header class="Header">
                            <img src="/images/logo/jootrip.jpg" alt="جوتریپ">
                            <span class="Header__hidden-text">jootrip | جوتریپ</span>
                        </header>
                    </div>
                </div>
                <div class="bpk-grid__row-m2JW4 NotFound__wrapper">
                    <div class="bpk-grid__column-1-92G bpk-grid__column--12-3dJQz">
                        <section class="NotFound__content">
                            <div class="NotFound__img">
                                <img alt="Page not found." src="/images/logo/error.svg" class="PageNotFoundImage">
                            </div>
                            <div class="NotFound__title">صفحه مورد نظر شما پیدا نشد!</div>
                            <!-- <div class="NotFound__message"></div> -->
                        </section>
                    </div>
                </div>
                <div class="bpk-grid__row-m2JW4">
                    <div class="bpk-grid__column-1-92G bpk-grid__column--12-3dJQz NotFound__button">
                        <a href="/" class="bpk-button-8imDo">بازگشت به صفحه اصلی
                        </a>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <%- include parts/footer.ejs %>
    <%- include parts/legal_info.ejs %>
</body>

</html>