<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns#">

<head profile="http://gmpg.org/xfn/11">
    <header>
        <%- include header.ejs %>
        <title>جستجوی هتل – مقایسه هتل – رزرو هتل | جوتریپ</title>
        <meta name="description" content="جوتریپ یک موتور جستجو هست که برای شما ارزانترین هتل را در بین سایتهای رزرواسیون هتل پیدا میکند.">
    </header>
    <%- include header.ejs %>

        <body dir="rtl" id="category-hotels" class="lang-en page-hotelsesi action-hotelsindex   default-layout scaffold-font-size   spring-clean month-view-spring-clean ">
            <div id="position-fixer"></div>
            <noscript>
                <div class="no-js-msg">
                    <p>
                        jootrip needs JavaScript to work. It looks like your browser doesn't support JavaScript, or has it turned off. Please try
                        again with JavaScript support.
                    </p>
                </div>
            </noscript>
            <div id="pagewrap" class="clearfix">

                <%- include navbar.ejs %>
                    <!--  body -->

                    <!-- START  -->
                    <div id="hotel--wrap" class="wrap clearfix">

                        <div id="search-form-wrapper" class="hotel-search-form-wrapper springClean has_header show" style="background-image:url('/images/background/testpic (17).jpg');background-position:center;background-size:cover" title="جستجوی هتل ارزان">

                            <div id="searchBG" class="search-bg" style="background-color:#000;opacity:0.4"></div>
                            <header class="hotel-search-form-header header-always-visible">
                                <h1 class="white-text">جستجو، مقايسه و انتخاب مناسبترين هتل</h1>
                                <p class="white-text">جوتریپ به شما کمک ميکند تا در بين سايتهای رزرو آنلاين هتل، ارزانترين را انتخاب کنيد</p>
                            </header>
                            <%- include search-form.ejs %>
                        </div>

                        <section id="confidence" class="provider-logos">
                            <div class="confidence-wrapper">
                                <h2>جوتریپ برای يافتن ارزانترين و مناسب ترين هتل، همه سايتهای رزرو آنلاين هتل را جستجو ميکند.</h2>
                                <ol class="clearfix">
                                    <li class="provider-logo">
                                        <span style="background-image: url(/images/logo/eghamat24.png);"></span>
                                    </li>

                                    <li class="provider-logo">
                                        <span style="background-image: url(/images/logo/snapptrip-fa.svg);"></span>
                                    </li>
                                    <li class="provider-logo">
                                        <span style="background-image: url(/images/logo/jabama.png);"></span>
                                    </li>
                                    <li class="provider-logo">
                                        <span style="background-image: url(/images/logo/jainjas.png);"></span>
                                    </li>
                                    <li class="provider-logo">
                                        <span style="background-image: url(/images/logo/flightio.png);"></span>
                                    </li>

                                </ol>
                            </div>
                        </section>
                        <section id="common-content" class="common-content">
                            <div class="common-content-wrapper">
                                <ul class="clearfix">
                                    <li class="usp" id="value-statement" data-icon="searchLarge before">
                                        <h3>جستجو</h3>
                                        <p>جستجوی بيش از 1000 هتل در سراسر ايران</p>
                                    </li>
                                    <li class="usp" data-icon="compareLarge before">
                                        <h3>مقايسه</h3>
                                        <p>مقايسه بر اساس قيمت، موقعيت و امکانات</p>
                                    </li>
                                    <li class="usp" data-icon="saveLarge before">
                                        <h3>انتخاب ارزانترين</h3>
                                        <p>پيشنهاد ارزانترين قيمت در سايت های رزرو آنلاين هتل</p>
                                    </li>
                                </ul>
                            </div>
                        </section>

                        <div id="destination-wrapper" class="destinations_wrapper">
                            <div id="destination" class="destinations">
                                <h2>
                                    <strong>ميخوای مطمئن شی؟</strong> يکی از هتل‌های پيشنهادی را انتخاب کن</h2>
                                <ul class="clearfix">
                                    <li class="destination city">
                                        <a style="cursor: pointer" data-q="هتل شهریار تبریز">
                                            <div class="destination_thumb" style="background-image:url('/images/index-hotels/tabriz-shahriyar.jpg')" title="رزرو هتل تبریز"></div>
                                            <div class="destination_cta" data-icon="forwardBlue after">
                                                <h4>تبریز</h4>
                                                <p>هتل شهریار</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="destination city">
                                        <a style="cursor: pointer" data-q="هتل اسپیناس تهران">
                                            <div class="destination_thumb" style="background-image:url('/images/index-hotels/tehran-espinas.jpg')" title="رزرو هتل تهران"></div>
                                            <div class="destination_cta" data-icon="forwardBlue after">
                                                <h4>تهران</h4>
                                                <p>هتل اسپيناس</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="destination city">
                                        <a style="cursor: pointer" data-q="هتل الماس 2 مشهد">
                                            <div class="destination_thumb" style="background-image:url('/images/index-hotels/mashhad-almas2.jpg')" title="رزرو هتل مشهد"></div>
                                            <div class="destination_cta" data-icon="forwardBlue after">
                                                <h4>مشهد</h4>
                                                <p>هتل الماس</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- END  -->
                    <!--  body -->
                    <%- include footer.ejs %>
                        <div class=" legal-info">
                            <p id="copyright" class="asian-lang-font-reset">
                                <span> jootrip.com &copy; 2018-2018</span>
                            </p>
                        </div>

                        <div class="autocomplete-suggestions" style="position: absolute; z-index: 999">
                        </div>

                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
                        <script src="/Plugins/dateRangePicker/js/moment.min.js"></script>
                        <script src="/Plugins/dateRangePicker/js/moment-jalaali.js"></script>
                        <script src="/Plugins/dateRangePicker/js/daterangepicker-fa-ex.js"></script>
                        <script src="/javascripts/common.min.js"></script>
                        <script src="/javascripts/index.min.js"></script>
            </div>
        </body>

</html>