<%- include parts/html.ejs %>
<head>
    <%- include parts/ga.ejs %>
    <%- include parts/meta_tags.ejs %>
    <%- include parts/css_links.ejs %>

    <script>window['start-time'] = new Date().getTime();</script>
    <title>جستجوی هتل – مقایسه هتل – رزرو هتل | جوتریپ</title>
    <meta name="description" content="جوتریپ یک موتور جستجو هست که برای شما ارزانترین هتل را در بین سایتهای رزرواسیون هتل پیدا میکند.">
</head>

<body dir="rtl" id="category-hotels" class="lang-en homepage page-hotelsesi action-hotelsindex   default-layout scaffold-font-size   spring-clean month-view-spring-clean ">
    <div id="position-fixer"></div>
    <%- include parts/noscript.ejs %>
    <div id="pagewrap" class="clearfix">
            <!--  body -->
            <% include parts/logo.ejs%>
            <!-- START  -->
            <div id="hotel--wrap" class="wrap clearfix">

                <div id="search-form-wrapper" class="hotel-search-form-wrapper springClean has_header show"
                    title="جستجوی هتل ارزان">

                    <div id="searchBG" class="search-bg" style="background-color:#000;opacity:0.4"></div>
                    <header class="hotel-search-form-header header-always-visible">
                        <h1 class="white-text">جستجو، مقايسه و انتخاب مناسبترين هتل</h1>
                        <p class="white-text">جوتریپ به شما کمک ميکند تا در بين سايتهای رزرو آنلاين هتل، ارزانترين را انتخاب کنيد</p>
                    </header>
                    <%- include parts/search-form.ejs %>
                </div>

                <section id="confidence" class="provider-logos">
                    <div class="confidence-wrapper">
                        <h2>جوتریپ برای يافتن ارزانترين و مناسب ترين هتل، همه سايتهای رزرو آنلاين هتل را جستجو ميکند.</h2>
                        <ol class="clearfix">
                            <li class="provider-logo">
                                <span style="background-image: url(/images/logo/eghamat24.png);" title="jootrip partner"></span>
                            </li>

                            <li class="provider-logo">
                                <span style="background-image: url(/images/logo/snapptrip-fa.svg);" title="jootrip partner"></span>
                            </li>
                            <li class="provider-logo">
                                <span style="background-image: url(/images/logo/jabama.png);" title="jootrip partner"></span>
                            </li>
                            <li class="provider-logo">
                                <span style="background-image: url(/images/logo/jainjas.png);" title="jootrip partner"></span>
                            </li>
                            <li class="provider-logo">
                                <span style="background-image: url(/images/logo/flightio.png);" title="jootrip partner"></span>
                            </li>

                        </ol>
                    </div>
                </section>
                <section id="common-content" class="common-content">
                    <div class="common-content-wrapper">
                        <ul class="clearfix">
                            <li class="usp" id="value-statement" data-icon="searchLarge before">
                                <h3>جستجو</h3>
                                <p>جستجوی بيش از 1000 هتل در سراسر ايران</p>
                            </li>
                            <li class="usp" data-icon="compareLarge before">
                                <h3>مقايسه</h3>
                                <p>مقايسه بر اساس قيمت، موقعيت و امکانات</p>
                            </li>
                            <li class="usp" data-icon="saveLarge before">
                                <h3>انتخاب ارزانترين</h3>
                                <p>پيشنهاد ارزانترين قيمت در سايت های رزرو آنلاين هتل</p>
                            </li>
                        </ul>
                    </div>
                </section>

                <div id="destination-wrapper" class="destinations_wrapper">
                    <div id="destination" class="destinations">
                        <h2>
                            <strong>ميخوای مطمئن شی؟</strong> يکی از هتل‌های پيشنهادی را انتخاب کن</h2>
                        <ul class="clearfix">
                            <li class="destination city">
                                <a style="cursor: pointer" data-q="هتل شهریار تبریز">
                                    <div class="destination_thumb" style="background-image:url('/images/index-hotels/tabriz-shahriyar.jpg')" title="رزرو هتل تبریز"></div>
                                    <div class="destination_cta" data-icon="forwardBlue after">
                                        <h4>تبریز</h4>
                                        <p>هتل شهریار</p>
                                    </div>
                                </a>
                            </li>
                            <li class="destination city">
                                <a style="cursor: pointer" data-q="هتل اسپیناس تهران">
                                    <div class="destination_thumb" style="background-image:url('/images/index-hotels/tehran-espinas.jpg')" title="رزرو هتل تهران"></div>
                                    <div class="destination_cta" data-icon="forwardBlue after">
                                        <h4>تهران</h4>
                                        <p>هتل اسپيناس</p>
                                    </div>
                                </a>
                            </li>
                            <li class="destination city">
                                <a style="cursor: pointer" data-q="هتل الماس 2 مشهد">
                                    <div class="destination_thumb" style="background-image:url('/images/index-hotels/mashhad-almas2.jpg')" title="رزرو هتل مشهد"></div>
                                    <div class="destination_cta" data-icon="forwardBlue after">
                                        <h4>مشهد</h4>
                                        <p>هتل الماس</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END  -->
            <!--  body -->
            <%- include parts/footer.ejs %>


                <div class="autocomplete-suggestions" style="position: absolute; z-index: 999">
                </div>
    </div>
    <% include parts/scripts.ejs%>
    <script src="/javascripts/index.min.js"></script>
    <script src="/javascripts/common.min.js"></script>
</body>

</html>